.xcuserdatad
.DS_Store
.filecache
aot_assembly_release.stamp
app.dill
flutter_assets.d
gen_dart_plugin_registrant.stamp
gen_localizations.stamp
kernel_snapshot.d
kernel_snapshot.stamp
native_assets.d
native_assets.stamp
native_assets.yaml
outputs.json
release_ios_bundle_flutter_assets.stamp
release_unpack_ios.stamp
App
snapshot_assembly.S
.dart_tool